/* 
colors:
#F2DEBA
#FFEFD6
#0E5E6F
#3A8891
*/

/* ******** HTML Selectors********* */

body {
    margin: 0px
}


div {
    background-color: #F2DEBA;
    padding: 2%;
}

h1 {
    margin-top: 0px;
}

/* ******** Class Selectors********* */

.top-container {
    background-color: #F2DEBA;
}

.middle-container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.botton-container {
    width: 200px;
    height: 200px;
    background-color: blue;
}